{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../../static/back/assets/images/favicon.svg" type="image/x-icon" />
    <title>SwapCycle</title>

    <!-- ========== All CSS files linkup ========= -->
    <link rel="stylesheet" href="{% static 'back/assets/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'back/assets/css/lineicons.css' %}" />
    <link rel="stylesheet" href="{% static 'back/assets/css/materialdesignicons.min.css' %}" />
    <link rel="stylesheet" href="{% static 'back/assets/css/fullcalendar.css' %}" />
    <link rel="stylesheet" href="{% static 'back/assets/css/main.css' %}" />
  </head>
  <body>
    <main class="main-wrapper">
        <section class="signin-section">
        <div class="container-fluid">
          <!-- ========== title-wrapper start ========== -->
          <div class="title-wrapper pt-30">
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="title">
                </div>
              </div>
            </div>
            <!-- end row -->
          </div>
          <!-- ========== title-wrapper end ========== -->

          <div class="row g-0 auth-row">
            <div class="col-lg-6">
              <div class="auth-cover-wrapper bg-primary-100">
                <div class="auth-cover">
                  <div class="title text-center">
                    <h1 class="text-primary mb-10">Get Started</h1>
                    <p class="text-medium">
                      Start creating the best possible user experience
                      <br class="d-sm-block">
                      for you customers.
                    </p>
                  </div>
                  <div class="cover-image">
                    <img src=" {% static 'back/assets/images/auth/signin-image.svg' %}" alt="">
                  </div>
                  <div class="shape-image">
                    <img src="{% static 'back/assets/images/auth/shape.svg' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
            <!-- end col -->
            <div class="col-lg-6">
              <div class="signup-wrapper">
                <div class="form-wrapper">
                  <h6 class="mb-15">Sign Up Form</h6>
                  <p class="text-sm mb-25">
                    Start creating the best possible user experience for you
                    customers.
                  </p>
                  <form action="" method="POST">
                      {% csrf_token %}
                    <div class="row">
                      <div class="col-12">
                        <div class="input-style-1">
                          <label>User Name</label>
                          <input type="text" name="username" maxlength="150" autofocus="" required="" aria-describedby="id_username_helptext" id="id_username">
                            <span class="helptext" id="id_username_helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
                        </div>
                      </div>
                      <!-- end col -->
                      <div class="col-12">
                        <div class="input-style-1">
                          <label>Email</label>
                          <input type="email" name="email" maxlength="254" id="id_email">
                        </div>
                      </div>
                      <!-- end col -->
                      <div class="col-12">
                        <div class="input-style-1">
                          <label>Password</label>
                         <input type="password" name="password1" autocomplete="new-password" aria-describedby="id_password1_helptext" id="id_password1">
                            <span class="helptext" id="id_password1_helptext"></span>
                            <ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul>
                        </div>
                      </div>
                        <div class="col-12">
                        <div class="input-style-1">
                          <label>Password</label>
                         <input type="password" name="password2" autocomplete="new-password" aria-describedby="id_password2_helptext" id="id_password2">
                            <span class="helptext" id="id_password2_helptext">Enter the same password as before, for verification.</span>
                        </div>
                      </div>
                      <!-- end col -->
                      <div class="col-12">
                        <div class="button-group d-flex justify-content-center flex-wrap">
                          <button type="submit" class="main-btn primary-btn btn-hover w-100 text-center">
                            Sign Up
                          </button>
                        </div>
                      </div>
                    </div>
                    <!-- end row -->
                  </form>
                    <div class="singup-option pt-40">
                    <p class="text-sm text-medium text-dark text-center">
                      SignUp as User? <a href="{% url 'signup-user' %}">Sign Up</a>
                    </p>
                  </div>
                  <div class="singup-option pt-40">
                    <p class="text-sm text-medium text-dark text-center">
                      Already have an account? <a href="{% url 'signin' %}">Sign In</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- end col -->
          </div>
          <!-- end row -->
        </div>
      </section>
    </main>


    <!-- ========= All Javascript files linkup ======== -->
    <script src="{% static 'back/assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'back/assets/js/Chart.min.js' %}"></script>
    <script src="{% static 'back/assets/js/dynamic-pie-chart.js' %}"></script>
    <script src="{% static 'back/assets/js/moment.min.js' %}"></script>
    <script src="{% static 'back/assets/js/fullcalendar.js' %}"></script>
    <script src="{% static 'back/assets/js/jvectormap.min.js' %}"></script>
    <script src="{% static 'back/assets/js/world-merc.js' %}"></script>
    <script src="{% static 'back/assets/js/polyfill.js' %}"></script>
    <script src="{% static 'back/assets/js/main.js' %}"></script>
  </body>
</html>
